body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1{
    font-size: 7.0em;
    color: #ffffff;
    text-align: center;
}

.clock{
    font-size: 2.5em;
    color: #ffffff;
    text-align: center;
    float: right;
}



.container{
    margin-top: 200px;
}

.wrapper{
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
} 
.tweetsCard{
    background-color: #ffffff;
    border-radius: 10px;
    width: 520px;
    padding: 20px;
    margin: 20px;

}
.tweetHeader{
    display: flex;
}
.avr{
    border-radius: 50%;
}
p{
    margin: 0px;
    font-size: 18px;
}
.imgwrapper{
}
.tweetBody{
    margin-top: 15px;
    margin-bottom: 15px;
}
.tweetTime p{
    color: #697882;
}
.user-info{
    margin-left: 20px;
    margin-right: 20px;
}
a{
    color: #1C8AD7;
    text-decoration: none;
}
.twitterIcon{
    position: relative;
    left: 180px;
}
.control{
    display: flex;
    margin-top: 20px;
}
.reply img{
    width: 20px;
}
.reply{
    color: #697882;
    margin-right: 10px;
}
.reply span{
    font-size: 13px;
}
.controltext{
    display: flex;
    margin-right: 40px;
}
.countComment, .countRetweet, .countReply{
    font-size: 18px;
    font-weight: 400;
    color: #697882;
}
.inputName:focus{
    outline: none;
}
.flex{
    display: flex;
}
.inputName{
    font-size: 7.0em;
    color: #ffffff;
    font-weight: bold;
}
.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 80px;
    text-align: center;
  }      
 